<%= render partial: "shared/reports_menu", locals: {active_tab: 'purchases'} %>

<h1>Purchases Report</h1>

<div class="report-settings bs-callout bs-callout-info">
  <div class="group">
    <% if flash[:success] %>
      <div class="alert alert-success">
        <strong>Success!</strong> Settings saved successfully.
      </div>
    <% end %>
    <label>Receive daily purchase reports:</label>
    <%= form_tag({controller: "purchases", action: "report_settings"}, method: "post") do %>
      <div class="input-group">
        <span class="input-group-addon">
          <!-- <input type="checkbox" aria-label="" name="send_daily" checked=<%= @send_daily %> value='true'> -->
          <%= check_box_tag :send_daily, 1, @send_daily%>
        </span>
        <input type="text" value="<%= @email %>" placeholder="email@example.com" name="email" class="form-control" aria-label="Text input with checkbox">
      </div>
      <%= submit_tag "Update", class: "btn btn-primary update" %>
    <% end %>
  </div>
  <div class="group">
    <label>Download the entire purchase history:</label>
    <div class="input-group">
      <%= link_to "Download CSV", report_purchases_path(format: "csv"), class: "btn btn-primary" %>
      <div class="last-download"><%= @downloaded_on.strftime("Last Downloaded On %B #{@downloaded_on.day.ordinalize} @ %I:%M%p") if @downloaded_on.present? %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if !@purchases.empty? %>
      <table class="table">
        <thead>
          <tr class="vendor-list-header">
            <th><%= sortable 'id', "Purchase ID" %></th>
            <th><%= sortable 'created_at', "Date Of Sale" %></th>
            <th><%= sortable 'vendor_id', "Vendor" %></th>
            <th><%= sortable 'badge_id', "Badge" %></th>
            <th><%= sortable 'amount', "Total" %></th>
            <th>Products</th>
            <th><%= sortable 'paid', 'Paid Out?' %></th>
            <th><%= sortable 'paid_at', "Paid On" %></th>
            <th><%= sortable 'paid_by_id', "Paid By" %></th>
          </tr>
        </thead>
        <tbody>
          <% @purchases.each do |purchase| %>
            <tr class="vendor-row" data-link="<%= purchase.paid ? "#!" : vendor_path(purchase.vendor) %>">
              <td><%= purchase.id %></td>
              <td><%= purchase.created_at.strftime("%B #{purchase.created_at.day.ordinalize}, %Y") %></td>
              <td><%= purchase.vendor ? purchase.vendor.name : "N/A" %></td>
              <td><%= purchase.vendor ? purchase.vendor.badge_id : "N/A" %></td>
              <td><%= number_to_currency purchase.total_amount / 100.0 %></td>
              <td><%= purchase.products_titles %></td>
              <td><%= purchase.paid ? "Yes" : "No" %></td>
              <td><%= purchase.paid_at.try { strftime("%B #{purchase.paid_at.day.ordinalize}, %Y")}   %></td>
              <td><%= purchase.paid_by.try { full_name.titleize } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
    <% else %>  
      <div>No purchases found.</div>
    <% end %>  
  </div>
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate @purchases %>
    </div>
  </div>
</div>
