<%= render partial: "shared/reports_menu", locals: {active_tab: 'payments'} %>

<h1>Payments Report</h1>

<div class="col-md-4 date-range-filter">
  <label>Date range:</label>
  <div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
  </div>
  <div class="input-group">
    <a class="btn btn-primary" id="submit-range">Update list</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr class="vendor-list-header">
          <th><%= sortable 'id', "Payment ID" %></th>
          <th><%= sortable 'created_at', "Date" %></th>
          <th><%= sortable 'vendor_id', "Vendor" %></th>
          <th><%= sortable 'badge_id', "Badge" %></th>
          <th><%= sortable 'amount', "Amount" %></th>
          <th><%= sortable 'paid_by_id', "Paid By" %></th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr class="payment-row">
            <td><%= payment.id %></td>
            <td><%= payment.created_at.strftime("%B #{payment.created_at.day.ordinalize}, %Y") %></td>
            <td><%= payment.vendor ? payment.vendor.name : "N/A" %></td>
            <td><%= payment.vendor ? payment.vendor.badge_id : "N/A" %></td>
            <td><%= number_to_currency payment.amount / 100.0 %></td>
            <td><%= payment.paid_by.full_name.capitalize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate @payments %>
    </div>
  </div>
</div>
